/*Thanks to https://codepen.io/alphardex/pen/ExaZgxp for the card flip
inspiration*/

body {
    background: black;
    color: white;
  }

  a {
    color: aqua;
  }

  .cardSection {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    perspective: 1000px;
  }
  
    .card {
      position: relative;
      width: 240px;
      height: 300px;
      cursor: pointer;
      transition: 1s ease-in-out;
      transform-style: preserve-3d;
    }
  
      .card:hover {
        transform: rotateY(0.5turn);
      }
  
      .cardFace {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transition: 1s ease-in-out;
      }
  

    .cardBack {
      transform: rotateY(0.5turn);
      font-size: 18px;
      line-height: 2em;
      background-color: white;
      background-size: cover;
      color: #FFE81F;
      border-radius: 10px;
    }

    img {
      width: 100%; 
      border-radius: 10px;
      
    }

      .textDetails {padding: 30px;}
  
